@{ Layout = "~/Views/Shared/_LayoutWindow100.cshtml"; ViewData["Title"] = "Report - Daily - Data"; }


@model Commsights.Data.DataTransferObject.ProductSearchDataTransfer
@Html.HiddenFor(Model => Model.ID)
@Html.HiddenFor(Model => Model.Domain)
<div class="card card-primary card-outline">
    <div class="card-body">
        <div class="row">
            <div class='col-md-10'>
            </div>
            <div class='col-md-2'>
                <a asp-route-ID="@Model.ID" asp-action="ExportExcelReportDailyByProductSearchIDAndActive" asp-controller="Report" title="Excel" style="width:100%;" class="btn btn-success">
                    <span class="fas fa-file-excel"></span> Excel
                </a>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                <div id="DataMain"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/mustache.min.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/excel-gen.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ReportDailyByProductSearchIDAndActiveToListToHTML", "Report")",
            data: {
                productSearchID: $('#ID').val()
            },
            success: function (ListProductSearchPropertyDataTransfer) {

                var html = '<table class="border" id="Data" cellspacing="4" style="background-color:#ffffff; font-size:12px; width:100%;">';
                html = html + '<thead>';
                html = html + '<tr>';
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Publish</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Category</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Company</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Sentiment</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Headline (Vie)</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Headline (Eng)</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Media</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Media type</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Ad value</a></th>";
                html = html + "<th class='text-center'><a style='cursor:pointer; font-size:12px;'>Summary</a></th>";
                html = html + '</tr>';
                html = html + '</thead>';
                html = html + '<tbody>';
                var no = 0;
                for (var index in ListProductSearchPropertyDataTransfer) {
                    $(ListProductSearchPropertyDataTransfer[index]).each(function (iRec, item) {
                        no = no + 1;
                        if (no % 2 == 0) {
                            html = html + '<tr style="background-color:#ffffff;">';
                        }
                        else {
                            html = html + '<tr style="background-color:#f1f1f1;">';
                        }
                        html = html + '<td class="text-center">' + item.DatePublishString + '</td>';
                        html = html + '<td class="text-center">' + item.ArticleTypeName + '</td>';
                        html = html + '<td class="text-center">' + item.CompanyName + '</td>';
                        if ((item.AssessName == 'Negative') || (item.AssessName == 'negative')) {
                            html = html + '<td class="text-center"><span style="color: red;">' + item.AssessName + '</span></td>';
                        }
                        else {
                            html = html + '<td class="text-center">' + item.AssessName + '</td>';
                        }


                        html = html + '<td class="text-left"><a target="_blank" style="color:blue; cursor:pointer; font-size:12px;" href="' + item.URLCode + '" title="' + item.URLCode + '">' + item.Title + '</a></td>';
                        html = html + '<td class="text-left"><a target="_blank" style="color:blue; cursor:pointer; font-size:12px;" href="' + item.URLCode + '" title="' + item.URLCode + '">' + item.TitleEnglish + '</a></td>';
                        html = html + '<td class="text-center">' + item.Media + '</td>';
                        html = html + '<td class="text-center">' + item.MediaType + '</td>';
                        html = html + '<td class="text-center">' + item.AdvertisementValueString + '</td>';
                        html = html + '<td class="text-center">' + item.Summary + '</td>';
                    });
                }
                html = html + '</tbody>';
                html = html + '</table>';
                html = $.parseHTML(html);
                $("#DataMain").append(html);
            }
        }).done(() => {
        });
    });
</script>