@{ Layout = "~/Views/Shared/_LayoutWindow.cshtml"; ViewData["Title"] = "Industry list"; }

@model Commsights.Data.Models.Product

@Html.HiddenFor(Model => Model.ID)

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0">Industry list</h5>
    </div>
    <div class="card-body">
        @(Html.Kendo().Grid<Commsights.Data.DataTransferObject.ProductPropertyDataTransfer>()
.Name("ProductPropertyDataTransfer")
.Columns(columns =>
{
    columns.Command(command => { command.Edit().Text("&nbsp;").CancelText("&nbsp;").UpdateText("&nbsp;").IconClass("fas fa-edit").HtmlAttributes(new { style = "font-size: 16px; padding-left:16px; padding-top:6px; border-radius: 6px; font-weight:bold; width:50px;" }); }).Width(150);
    columns.Bound(t => t.ID).Title("ID").Width(100);
    columns.Bound(t => t.IndustryName).Title("Industry").Width(200);
    columns.Bound(t => t.AssessType.TextName).EditorTemplateName("Config_AssessType").Title("Assess").Width(200);
    columns.Bound(t => t.Point).Title("%").Width(200);
})
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.IndustryName); })
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);
    model.Field(t => t.ID).Editable(false);
    model.Field(t => t.IndustryName).Editable(false);
    model.Field(t => t.AssessType).DefaultValue(new Commsights.Data.DataTransferObject.ModelTemplate());
})
.Events(t => { t.RequestEnd("onGridRequestEnd"); })
.Read(t => t.Action("GetDataTransferIndustryByParentIDToList", "ProductProperty").Data("filterProductProperty"))
.Update(t => t.Action("UpdateDataTransfer", "ProductProperty"))
)
)
    </div>
</div>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#ProductPropertyDataTransfer").data("kendoGrid").dataSource.read();
        }
    }
    function filterProductProperty(e) {
        var parentIDValue = $("#ID").val();
        return { parentID: parentIDValue };
    }
</script>