@{ ViewData["Title"] = "Tier"; }

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Setup - Tier</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class='col-sm-4'>
                        @(Html.Kendo().DropDownList()
                     .Name("Tier")
                     .DataValueField("ID")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                      .Events(e => e.DataBound("onMediaTierDataBound"))
                       .Filter(FilterType.StartsWith)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMediaTierToList", "Config")))
                            )
                    </div>
                    <div class='col-sm-4'>
                        @(Html.Kendo().DropDownList()
                     .Name("Industry")
                     .DataValueField("ID")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                      .Events(e => e.DataBound("onIndustryDataBound"))
                       .Filter(FilterType.StartsWith)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetIndustryToList", "Config")))
                            )
                    </div>
                    <div class='col-md-1'>
                        <a style="width:100%; cursor:pointer; color:#ffffff;" title="Tìm" onclick="onSearch()" class="btn btn-success">
                            <span class="fas fa-search"></span>
                        </a>
                    </div>
                </div>
                <br />
                @(Html.Kendo().Grid<Commsights.Data.DataTransferObject.ConfigDataTransfer>()
.Name("ConfigDataTransfer")
.Columns(columns =>
{
    columns.Command(command => { command.Edit().Text("&nbsp;").CancelText("&nbsp;").UpdateText("&nbsp;").IconClass("fas fa-edit").HtmlAttributes(new { style = "font-size: 16px; padding-left:16px; padding-top:6px; border-radius: 6px; font-weight:bold; width:50px;" }); command.Destroy().Text("&nbsp;").IconClass("fas fa-trash-alt").HtmlAttributes(new { style = "font-size: 16px; color:#ffffff; background-color:#d73925; padding-left:16px; padding-top:6px; border-radius: 6px; width:50px;" }); }).Width(150);   
    columns.Bound(t => t.Parent.TextName).EditorTemplateName("Config_Website").Title("Media").Width(300);    
    columns.Bound(t => t.Note).Title("Note").Width(200);    
})
.ToolBar(toolBar => toolBar.Create().Text("&nbsp;").IconClass("fas fa-plus").HtmlAttributes(new { style = "font-size: 16px; border-radius: 6px; font-weight:bold; background-color:#009966; color:#ffffff; padding-left:16px;" }))
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.ParentName);})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(10000)
.Model(model =>
{
    model.Id(t => t.ID);
    model.Field(t => t.ID).Editable(false);
    model.Field(t => t.Parent).DefaultValue(new Commsights.Data.DataTransferObject.ModelTemplate());    
})
.Events(t => { t.RequestEnd("onGridRequestEnd"); })
.Read(t => t.Action("GetDataTransferTierByTierIDAndIndustryIDToList", "Config").Data("filterConfig"))
.Destroy(t => t.Action("Delete", "Config"))
.Create(t => t.Action("CreateTierByTierIDAndIndustryID", "Config").Data("filterConfig"))
.Update(t => t.Action("UpdateMediaTier", "Config"))
)
)
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#ConfigDataTransfer").data("kendoGrid").dataSource.read();
        }
    }
    function filterConfig(e) {
        var tierIDValue = $("#Tier").data("kendoDropDownList").value();
        var industryIDValue = $("#Industry").data("kendoDropDownList").value();      
        return { tierID: tierIDValue, industryID: industryIDValue };
    }
    function onMediaTierDataBound() {
        var control = $("#Tier").data("kendoDropDownList");
        var controlLength = control.dataSource.data().length;
        if (controlLength > 0) {
            control.select(0);            
        }
    }  
    function onIndustryDataBound() {
        var control = $("#Industry").data("kendoDropDownList");
        var controlLength = control.dataSource.data().length;
        if (controlLength > 0) {
            control.select(0);            
        }
    }  
    function onSearch() {    
        $("#ConfigDataTransfer").data("kendoGrid").dataSource.read();
    }
</script>
